body { 
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}


.container {
    max-width: 600px;
    margin: auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}


button {
    padding: 10px 20px;
    cursor: pointer;
}